---
const { image, opinion, name, job, rating } = Astro.props;
---

<div
  class="w-96 h-80 min-[375px]:h-64 min-[425px]:h-56 flex flex-col justify-between rounded-2xl relative text-left p-8 my-7 bg-white"
>
  <div class="h-14 w-14 rounded-full absolute left-4 -top-7">
    <img
      src={image}
      alt={name}
      class="rounded-full w-full h-full object-cover"
    />
  </div>
  <p class="text-base leading-relaxed text-pretty text-[#2B2D42]">
    {opinion}
  </p>
  <span class="w-full h-px border-b"></span>
  <!-- down side -->
  <div class="w-full flex justify-between">
    <!-- left side -->
    <div class="w-1/2 flex flex-col min-[375px]:whitespace-nowrap">
      <span class="text-xl font-extrabold text-[#2B2D42]">{name}</span>
      <span class="text-xs text-textSecondary">{job}</span>
    </div>
    <!-- right side -->
    <div class="w-1/2 flex items-center justify-end">
      {
        Array.from({ length: rating }, (_, i) => (
          <img src="/images/star.svg" alt={`star-${i}`} />
        ))
      }
    </div>
  </div>
</div>
